{% extends "aplicacion/paginaprincipal.html" %}
{% load static %}
{% block contenido %}
{% block cabecera %}
    Canchas de {{localidad}}
{% endblock cabecera %}

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Telefono</th>
                <th>Deporte</th>
               
            
            </tr>
        </thead>
        <tbody>
        {% for caba in ca_ba %}
        <tr>
            <td>{{ caba.nombre }}</td>
            <td>{{ caba.localidad }}</td>
            <td>{{ caba.telefono }}</td>
            <td>{{ caba.deporte }}</td>
         
        {% endfor %}
        </tr>
        </tbody>
    </table>    
    
{% endblock contenido %}